<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']"  routerLinkActive="router-link-active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/counter']" routerLinkActive="router-link-active" >Counter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="router-link-active" >Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth']" *ngIf="!(isAuthenicated|async)" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/singup']"  *ngIf="!(isAuthenicated|async)" >SingUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="(isAuthenicated|async)" (click)="LogOut($event)" >Logout</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>