<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="mb-3">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email">
                <span class="error" *ngIf="submit && validation.email.errors">
                    <span *ngIf="validation.email.errors.required">The Email
                        field is
                        required</span>
                    <span *ngIf="validation.email.errors.email">The Email format
                        is
                        invalid</span>

                    <span class="error" *ngIf="errors && errors.email">{{errors.email[0]}}</span>
                </span>
            </div>
            <div class="mb-3">
                <label for="">Password</label>
                <input type="text" class="form-control"
                    formControlName="password">
                <span *ngIf="submit && validation.password.errors">
                    <span *ngIf="validation.password.errors.required ">
                        The password Field is Required
                    </span>
                </span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>