<div class="row my-4">
    <div class="col-md-12">
        <h3>Add Post</h3>
        <hr>
        <form [formGroup]="frmPost"  (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label for="">Title</label>
                <input type="text" class="form-contorl" formControlName="title"
                    id="title">
                <div class="error" *ngIf="submit && validation.title.errors">
                    <p *ngIf="validation.title.errors.required">The Name
                        field is
                        required</p>
                        <!-- <p *ngIf="validation.title.errors.minLength(6)">The Name
                            field is
                            required 6</p> -->
                        </div>
            </div>
            <div class="mb-3">
                <label for="">Discription</label>
                <textarea class="form-control" formControlName="discription"></textarea>
                <div class="error" *ngIf="submit &&
                    validation.discription.errors">
                    <p *ngIf="validation.discription.errors.required">The
                        Name field is
                        required</p>
                    </div>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary"
                   >Add Post</button>
            </div>
        </form>
    </div>
</div>
