
<app-header></app-header>
<app-loading-spinner *ngIf="showLoading |async"></app-loading-spinner>
<div class="container">
<div class="alert alert-danger" *ngIf="erroMessage|async as error">
  {{error}}
</div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
