<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr>
    <form [formGroup]="PostForm"  (ngSubmit)="onUpdate()">
      <div class="my-3">
        <label for="">Title</label>
        <input type="text" class="form-contorl" formControlName="title">
        <!-- <div *ngIf="PostForm.get('title')?.errors.required"></div> -->
      </div>
      <div class="my-3">
        <label for="">Description</label>
        <input type="text" class="form-contorl" formControlName="description">
      </div>
      <div>
        <button type="submit" class="btn btn-primary"> update</button>
      </div>
    </form>
  </div>
</div>