<div>
    <div class="my-3">{{ channelName$ |async  }}</div>
    <input type="text" placeholder="enter value" [(ngModel)]="value" />
    <button class="btn btn-primary" (click)="onAdd()">Add to counter</button>
  </div>
  
  <div>
    <button (click)="onChangeChannelName()">Change Channel</button>
  </div>