.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(28, 26, 26);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(27, 18, 18) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner{
    position: fixed;
    width: 20vw;
    left: 40vw;
    top: 40%;
    z-index: 99;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border: 1px solid;
  }
  .backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgb(0, 0, 0,0.5);
  }