<div>
    <button class="btn btn-primary" (click)="onIncrement()" id="increment">Increment</button
    >&nbsp;
    <button class="btn btn-warning" (click)="onDecrement()" id="decrement">Decrement</button
    >&nbsp;
    <button class="btn btn-info" (click)="onReset()" id="reset">Reset</button>
  </div>