<div class="row">
    <div class="col-md-8">
  <h3>Post Lists</h3>
  <div>
    <a  class="btn btn-primary" [routerLink]="['/posts/add']" >Add Post</a>
  </div>
  <table class="table table-striped" *ngIf="posts|async as PostData">
 <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Discription</th>
        <th>Action</th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let post of PostData">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.discription}}</td>
        <td> <a class="btn btn-primary" [routerLink]="['edit',post.id]"  >Update</a>&nbsp;
         <button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
        </td>
    </tr>
 </tbody>
  </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
